body {
  background-color: #e7dfd5;
}

h1 {
  color: #ed1250;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin: 50px 0 0;
}

h2 {
  color: #204051;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  margin: 5px 0 0;
  text-align: center;
}

h3 {
  color: #3b6978;
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  margin: 5px 0 0;
  text-align: center;
  text-transform: capitalize;
}
h4 {
  color: #3b6978;
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  margin: 5px 0 0;
  text-align: center;
  text-transform: capitalize;
}

.weatherApp {
  border: 1px solid #042f4b;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 1000px;
}
.inputCity {
  margin: 50px 0 0;
}

.currentCityInfo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 50px 100px 90px;
  padding: 15px 10px;
  text-align: center;
}

.temperature {
  font-size: 50px;
}

.tempInfo {
  font-size: 30px;
}

.tempMemo {
  font-size: 25px;
}

.icons {
  font-size: 50px;
  padding: 15px 10px;
  text-align: center;
}

.weather {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: center;
}

.openSourceCode {
  color: #3b6978;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
