body {
  background-color: #e7dfd5;
}

h1 {
  color: #ed1250;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  margin: 50px 0 0;
  text-align: center;
}

h2 {
  color: #204051;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  margin: 5px 0 0;
  text-align: center;
}

h3 {
  color: #3b6978;
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  margin: 5px 0 0;
  text-align: center;
  text-transform: capitalize;
}
h4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.currentWeather {
  font-size: 50px;
  text-align: center;
}

.weatherApp {
  border: 1px solid #042f4b;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1000px;
  padding: 15px;
}
.inputCity {
  margin: 50px 0 0;
}

.openSourceCode {
  color: #3b6978;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
